@charset "UTF-8";
* {
  font-family: Inter;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background-color: #171717;
  color: white;
}
body header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  body header {
    flex-direction: row;
    justify-content: space-between;
    margin: 0 8%;
    transition: all 0.5s ease;
  }
}
body header .header_webName {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
body header .header_webName--title {
  font-weight: 900;
}
body header .header_webName--line {
  background-color: #7D2122;
  width: 150px;
  height: 5px;
  align-self: flex-end;
}
body header .header_search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  height: 30px;
}
body header .header_search--input {
  border: none;
  background-color: white;
  text-indent: 10px;
}
body header .header_search--input:focus {
  background-color: #171717;
  color: white;
}
@media screen and (min-width: 768px) {
  body header .header_search--input {
    width: 300px;
    transition: all 0.5s ease;
  }
}
body header .header_search_btn {
  border: none;
  background-color: white;
  width: 30px;
}
body header .header_search_btn--icon {
  color: #171717;
  height: 20px;
  width: 20px;
}
body header .header_search_btn--icon:hover {
  opacity: 0.8;
  scale: 0.8;
  cursor: pointer;
  transition: all 0.5s ease;
}
body .sort {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  body .sort {
    display: flex;
    justify-content: flex-start;
    margin-left: 8%;
  }
}
@media screen and (min-width: 768px) {
  body .sort_container ::before {
    content: "Trier par ordre alphabétique";
    color: white;
    font-size: 16px;
    margin-right: 10px;
  }
}
body .sort_container_btn {
  margin-top: 20px;
  border: none;
  background-color: #171717;
  display: flex;
  align-items: center;
}
body .sort_container_btn--icon {
  color: white;
  height: 25px;
  width: 25px;
  margin-left: 10px;
}
body .sort_container_btn--icon:hover {
  color: #7D2122;
  scale: 0.9;
  cursor: pointer;
  transition: all 0.5s ease;
}
body .movies {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
body .movies_card {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #171717;
  width: 300px;
  height: 480px;
  padding: 10px 0px;
  margin: 20px 20px;
}
body .movies_card:hover {
  transition: all 0.5s ease;
  transform: rotate(2deg) skew(2deg) scale(0.96);
  cursor: pointer;
}
body .movies_card_head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 230px;
  margin: 5px 0px;
}
body .movies_card_head_title--name {
  font-size: 16px;
}
body .movies_card_head--realese {
  font-weight: 300;
  font-size: 14px;
  font-style: italic;
  margin-top: 5px;
}
body .movies_card--poster {
  width: 220px;
  height: 320px;
  align-self: center;
  box-shadow: 5px 5px 13px 1px #000000;
  border: solid 10px white;
  margin: 20px 0px;
}
body .movies_card_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 230px;
}
body .movies_card_container_left_infos--director {
  font-weight: bold;
  font-size: 12px;
}
body .movies_card_container_left_infos--casting {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
body .movies_card_container_left_infos--actor {
  font-size: 12px;
}
body .movies_card_container_right_infos--duration {
  font-weight: bold;
  text-align: end;
  font-size: 12px;
}
body .movies_card_container_right_infos--festivals {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}
body .movies_card_container_right_infos--fest {
  font-size: 12px;
  text-align: right;
}

h3 {
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  margin: 20px 0px;
}
h3 a {
  color: white;
}/*# sourceMappingURL=style.css.map */